<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="icon" href="https://tokibot.com/assets/images/icon.png">
		<link rel="stylesheet" type="text/css" href="/assets/css/splash.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700italic,900,700,400italic' rel='stylesheet' type='text/css'>
		<script src="/js/jquery.min.js"></script>
		<script src="/assets/js/splash.js"></script>

		<title>Toki - Deep Work For Collaborative Teams</title>
		
		<!-- facebook open graph tags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tokibot.com" />
		<meta property="og:title" content="Toki - Deep Work For Collaborative Teams" />
		<meta property="og:description" content="Toki is a Slack bot that superpowers your Do Not Disturb mode to help you focus at work, track your productivity, and stay in sync with your team." />
		<meta property="og:image" content="https://tokibot.com/assets/images/reflection_example_small.png" />

		<!-- twitter card tags additive with the og: tags  -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:domain" value="tokibot.com" />
		<meta name="twitter:title" value="Toki - Deep Work For Collaborative Teams" />
		<meta name="twitter:description" value="Toki is a Slack bot that superpowers your Do Not Disturb mode to help you focus at work, track your productivity, and stay in sync with your team." />
		<meta name="twitter:image" content="https://tokibot.com/assets/images/reflection_example_small.png" />
		<meta name="twitter:url" value="https://tokibot.com" />
		<meta name="twitter:label1" value="Share your current priority..." />
		<meta name="twitter:data1" value="Let your team know what you want to focus on, and how much time you want to spend working on it" />
		<meta name="twitter:label2" value="...and focus confidently" />
		<meta name="twitter:data2" value="Toki turns on Slack's Do Not Disturb so you're not interrupted with non-urgent messages" />

		<!-- Viewport for Mobile View -->
		<meta name="viewport" content="width=device-width, initial-scale=0.5">

	</head>

	<body>
		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner" >

							<a href="/">
								<img src="/assets/images/splash_logo_combined.png" id="splash-logo-combined">
							</a>

							<ul class="nav masthead-nav">
								<li class="active"><a class="header-link" href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>new&scope=bot,commands,channels:history,dnd:write,dnd:read'>Get Toki  <img src="/assets/images/slack_logo.png" id="slack-logo-header"/></a></li>
								<li><a class="header-link" href="privacy">Privacy</a></li>
								<li><a class="header-link" href="mailto:kevinsuh34@gmail.com">Contact</a></li>
							</ul>

						</div>
					</div>

					<% if (locals.email) { %>

						<% if (locals.success == 'true') { %>

							<div class="alert alert-success" style="text-shadow: none !important;">
								Awesome! We'll contact you at <%= locals.email %> as soon as we can
							</div>

						<% } else { %>
							<div class="alert alert-warning" style="text-shadow: none !important;">
									Something went wrong. Try again? 
								</div>
						<% } %>

					<% } %>

					<div class="inner cover">

						<h1 class="cover-heading">Deep work for collaborative teams<br>in Slack <img src="/assets/images/slack_logo.png" id="slack-logo-splash"/></h1>

						<div>

							<p class="lead">Toki superpowers your <span class="italics">Do Not Disturb</span> in Slack to help you focus at work, track your productivity, and stay in sync with your team</p>

							<center class="cta_container">
								
								<div>
									<a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>new&scope=bot,commands,channels:history,dnd:write,dnd:read'><img class="add-to-slack-button" alt="Add to Slack" src="/assets/images/add_to_slack.png" /></a>
								</div>

								<a href="https://docs.google.com/presentation/d/1HwnDgSZRXf0rQrQEhnNgMOsqA8zchd08Q-N7DG-AgNs/edit#slide=id.p" target="_blank" id="how-does-it-work-link">How does it work?</a>
									
							</center>

						</div>

					</div>

					<div class="mastfoot">
						<div class="inner">
							<p class="toki-rights">© 2016 Toki Inc., All Rights Reserved | <a href="/privacy" id="privacy-policy-url">Privacy Policy</a></p>
					</div>
					</div>

				</div>

			</div>
		</div>

	</body>
</html>

