<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	<head>
		<script type="text/javascript">
			!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
			analytics.load("5nvEQLHWNyMSlHkNrEWDzm9CQAPL0JHk");
			analytics.page()
			}}();
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="icon" href="/assets/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/splash.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<title>Toki - your personal sidekick</title>
	</head>

	<body>
		<div class="splash-header clearfix">
			<h3 class="title">Toki</h3>
		</div>

		<div id="splash-wrapper">

			<div class="container">

				<% if (locals.invite && locals.msg) { %>
				<div class="alert alert-<%= locals.success ? 'success' : 'warning' %>">
					<%= locals.msg %>
				</div>
				<% } %>

				<h1 class="main-title">Every hero needs a sidekick</h1>

				<div class="main">
					<p class="subtitle"><strong>Toki</strong> is a bot that puts you in control of your attention so you do the things you set out to do</p>
				</div>

				<div class="form-group">
					<form id="invite" method="post" action="/invite" class="invite form-inline">
						<input class="email-input form-control" type="email" name="email" placeholder="joeguy@example.com" required />
						<input type="submit" class="submit-div" value="Join with Slack" />
					</form>
				</div>

			</div>
		</div>

		<div>
			<h1 style="text-align: center; margin-top: 20px;">Hello world</h1>
		</div>


	<% if false { %>
	<a href=<%= "https://"+org+".slack.com" %> target="_top">
		Sign In
	</a>
	<center>
		<a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>new&scope=bot'><img alt="Add to Slack" height="40" width="139" src="/assets/images/add_to_slack.png" /></a>
	</center>
	
	<center style="margin-top: 25px;">
		<a href="https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>login&scope=identity.basic"><img alt="Add to Slack" height="40" width="172" src="/assets/images/sign_in_with_slack_2.png" /></a>
	</center>
	<% } %>

	</body>
</html>